
<style>
    .glyphicon4 {
        color: black !important;
    }

    #btn-signup {
        background-color: #06FBB5;
        cursor: pointer;
    }

    input:-ms-input-placeholder {  
color: black !important; 
opacity:0.6  ;


}

    input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
opacity:0.6 ;

}

    
            input::-webkit-input-placeholder {
color: black !important;
opacity:0.6 ;


}
 
input:-moz-placeholder { /* Firefox 18- */
color: black !important;  
opacity:0.6 ;


}
</style>

<div class="container">
    <div >
    <div class="row" style="background-color:#404041;" >



        <div id="dd" >
            <img src="images/AboutEinao.png" width="100%" height="400"  class="img-responsive" />


        </div>
    </div>

    <div   class="row" style="background-color:#404041">
        <div id="dd" style="height:120px;background-color:#404041;font-size:10px ;width:100%" >
           
                <div class="col col-md-4 col-md-offset-4 text-center" style="color:white">

                    We strive to deliver a level of service that exceeds the expectations of our customers. If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.


                </div>

         

           
           
            <div id="circle2">
                <img src="images/AboutEinao2.png" width="100%" height="40px"  class="img-responsive" />
            </div>

                

            </div>

    </div>
    </div>

   <br/>

    <br/>

    <br />

    <br />
    <br />

    <br />
    <br />

    <br />

    <br />

    <br />
    <br />

    <br />

    <br />

    <br />
    <br />

    <br />
    <br />

    <br />

    <br />

    <br />
    <br />

    <br />

    <br />

    <br />

    <br />
    <br />

    <br />

    <br />
   

    <div class="container">
        <div class="row" >


            <div class="col col-md-2" style="font-weight:bold;padding-left:40px">
                Sign up for an agent account



            </div>

            <div class="col col-md-2 col-md-offset-1 " style="font-weight:bold;padding-left:70px">
                Get your agent account accredited



            </div>

            <div class="col col-md-2 col-md-offset-2 " style="font-weight:bold;">
                Select and purchase a protection usable




            </div>

            <div class="col col-md-2 col-md-offset-1 text-center" style="font-weight:bold;">
                Your intecllectual property is processed and protected



            </div>
        </div>
    </div>
    <div >


       
        <br />
        <br />
        

        <div id="dd" style="background-color:#404041" class="row">
            <br/>
            <div class="row">
               
                <div  style="font-weight:bold;font-size:14px; color:white;margin-left:140px">
                    <span>Contact Us</span>
                    </div>

                </div>
            <br/>
            <div class="row">


                <div class="col col-md-4 col-md-offset-1">
                    <div class="col col-md-12">
                        <input name="name" class="form-control" ng-model="Phone" required
                               type="text" placeholder="Phone" />

                    </div>
                    <br/>
                    <br />
                    <br />


                    <div class="col col-md-12">
                        <input name="name" class="form-control" ng-model="Email" required
                               type="text" placeholder="Email" />

                    </div>
                    <br />
                    <br />
                    <br />



                    <div class="col col-md-12">
                        <input name="name" class="form-control" ng-model="subject" required
                               type="text" placeholder="Subject" />

                    </div>



                </div>

                <div class="col col-md-4">
                    <div class="col col-md-12">
                        <textarea class="form-control" placeholder="Message" ng-model="Message" rows="5" cols="30"></textarea>

                    </div>
                    <div class="row">


                       


                    </div>

                </div>

            </div>
            <div style="margin-left:900px" class="row">
                
                <br />
               
                <button id="btn-signup" type="button" ng-click="Upadate2()" class="btn ">Submit </button>
            </div>


           
            <br />

            </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>

</div>