<style>
    button .glyphicon {
        color: black !important;
    }

    .btn-success {
        color: black;
        background-color: #06FBB5;
        border-color: #06FBB5;
        border: none !important;
        box-shadow: none !important;
    }

        .btn-success:active {
            color: black;
            background-color: #06FBB5;
            border-color: #06FBB5;
            border: none !important;
            box-shadow: none !important;
        }

    .dds {
        margin-left: 300px;
        font-size: 12px;
        font-weight: bold;
    }

    .btn-success:hover {
        background-color: #7F7F7F;
        border-color: #7F7F7F;
        text-shadow: none !important;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        color: black;
        cursor: default;
        background-color: #06FBB5;
        border-color: #06FBB5;
    }
</style>
<div class="container-fluid" ng-show="agentRole.Agent">
    <br />
    <script type="text/ng-template" id="myModalContent3.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title"><span style="font-weight:bold ;font-size:10px ;"> APPLICATION </span></h3>
        </div>

        <div class="modal-body">
            <p>
                <table st-table="displayedCollection" st-safe-src="ListAgent" class="table table-responsive table-bordered">
                 
                    <tbody>
                        <tr >
                            <td>FIRSTNAME</td>
                            <td align="center">{{vdetail.FirstName}}</td>
                            </tr>

                        <tr>
                            <td>SURNAME</td>
                            <td align="center">{{vdetail.SurName}}</td>
                        </tr>

                        <tr>
                            <td>EMAIL</td>
                            <td align="center">{{vdetail.Email}}</td>
                        </tr>

                        <tr>
                            <td>DATE OF BIRTH</td>
                            <td align="center">{{vdetail.DateOfBrith}}</td>
                        </tr>

                        <tr>
                            <td>COMPANY NAME</td>
                            <td align="center">{{vdetail.CompanyName}}</td>
                        </tr>

                        <tr>
                            <td>COMPANY ADDRESS</td>
                            <td align="center">{{vdetail.CompanyAddress}}</td>
                        </tr>

                        <tr>
                            <td>CONTACT PERSON</td>
                            <td align="center">{{vdetail.ContactPerson}}</td>
                        </tr>

                        <tr>
                            <td>CONTACT PERSON PHONE</td>
                            <td align="center">{{vdetail.ContactPersonPhone}}</td>
                        </tr>

                        <tr>
                            <td>ACCREDITATION TYPE</td>
                            <td align="center">{{vdetail.AccrediationType}}</td>
                        </tr>

                        <tr>
                            <td>REGISTRATION DATE</td>
                            <td align="center">{{vdetail.xreg_date}}</td>
                        </tr>

                        <tr>
                            <td>CERTIFICATE</td>
                            <td align="center"><a href="http://88.150.164.30/EinaoTestEnvironment.IPO/{{vdetail.Certificate}}" target="_blank">Download</a></td>
                        </tr>

                        <tr>
                            <td>PASSPORT</td>
                            <td align="center"><a href="http://88.150.164.30/EinaoTestEnvironment.IPO/{{vdetail.Logo}}" target="_blank">Download</a></td>
                        </tr>
                        <tr>
                            <td>LETTER OF INTRODUCTION</td>
                            <td align="center"><a href="http://88.150.164.30/EinaoTestEnvironment.IPO/{{vdetail.Introduction}}" target="_blank">Download</a></td>
                        </tr>
                            

                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </p>
        </div>


        <div class="modal-footer">


            <button ng-click="ok()" class="btn-success btn-lg btn-space" style="font-weight:bold ;font-size:10px ;" type="submit"> <i class="glyphicon glyphicon-remove"></i> &nbsp Close  </button>

        </div>


    </script>



    <div align="center" style="font-size:20px;"> ACCREDITED AGENT ADMIN </div>
    <br />
    <table st-table="displayedCollection" st-safe-src="ListAgent" class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th style="font-weight:bold">Id</th>
                <th style="font-weight:bold">Agent Code</th>
                <th style="font-weight:bold">First Name</th>
                <th style="font-weight:bold">Surname</th>
                <th style="font-weight:bold">Payment Status</th>


                <th> </th>

                <th> </th>
                <th> </th>

            </tr>
            <tr>
                <th colspan="7"><input id="aa" st-search="" class="form-control" placeholder="global search ..." type="text" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection" ng-class="{'pending-delete': add2(row)}">

                <td align="center">{{row.Xid}}</td>
                <td align="center">{{row.Agent_Code}}</td>
                <td align="center">{{row.FirstName}}</td>
                <td align="center">{{row.SurName}}</td>
                <td align="center">{{row.Paid_Status}}</td>
                <td align="center"><button ng-click="Updaterecord2(row)" class="btn-success btn-lg btn-space" style="font-weight:bold ;font-size:10px ;" type="submit">  Approve &nbsp <i class="glyphicon glyphicon-ok"></i> </button></td>
                <td align="center"><button ng-click="Updaterecord5(row)" class="btn-success btn-lg btn-space" style="font-weight:bold ;font-size:10px ;" type="submit">  Reject &nbsp <i class="glyphicon glyphicon-remove"></i> </button></td>
                <td align="center"><button ng-click="Updaterecord6(row)" class="btn-success btn-lg btn-space" style="font-weight:bold ;font-size:10px ;" type="submit">  View &nbsp <i class="glyphicon glyphicon-link"></i> </button> </td>




            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>

</div>



