<style>

    button .glyphicon {
        color: black !important;
    }

    .btn-success {
        color: black;
        background-color: #06FBB5;
        border-color: #06FBB5;
        border: none !important;
        box-shadow: none !important;
         
    }

    .help-block {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: red;
    }
    #btn-signup {
            background-color :#06FBB5;
               
              
    cursor:pointer;
}
     
        .btn-success:active {
            color: black;
            background-color: #06FBB5;
            border-color: #06FBB5;
            border: none !important;
            box-shadow: none !important;
        }

        .btn-group-lg>.btn, .btn-lg {
   padding-top:5px;
   padding-bottom:5px;
   
  
}

        .center {
    margin-left: auto;
    margin-right: auto;
  
}

</style>
<div  class="col-md-6 col-md-offset-2">
    <table class="table" style="border-spacing: 0px;">
        <tr>
            <td colspan="2" align="center" style="border:none">
                <img alt="Coat Of Arms" height="79" src="images/coat_of_arms.png"
                     width="85" />
            </td>
        </tr>


        <tr>
            <td colspan="2" align="center" style="font-size:11pt;border:none">
                FEDERAL REPUBLIC OF NIGERIA<br />
                FEDERAL MINISTRY OF INDUSTRY, TRADE AND INVESTMENT<br />
                COMMERCIAL LAW DEPARTMENT<br />
                TRADEMARKS, PATENTS AND DESIGNS REGISTRY<br />
            </td>
        </tr>
    </table>
    <table class="table" ng-show="vfile">
        <tr>
            <td>

                <div ng-show="vfile">

                    <div class="pos" id="_241:242" style="text-align:center">

                        <span id="_24.4" style="font-weight:bold; font-family:Arial; font-size:24.4px; color:#ff0000">
                            APPLICATION FILING NOTICE
                        </span>
                    </div>

                    <div class="pos" id="_101:285" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
                            <U>I</U><U>T</U><U> </U><U>I</U><U>S</U><U> </U><U>I</U><U>M</U><U>P</U><U>O</U><U>R</U><U>T</U><U>A</U><U>N</U><U>T</U><U> </U><U>T</U><U>O</U><U> </U><U>R</U><U>E</U><U>A</U><U>D</U><U> </U><U>C</U><U>A</U><U>R</U><U>E</U><U>F</U><U>U</U><U>L</U><U>L</U><U>Y</U><U> </U><U>T</U><U>H</U><U>E</U><U> </U><U>T</U><U>E</U><U>R</U><U>M</U><U>S</U><U> </U><U>A</U><U>N</U><U>D</U><U> </U><U>C</U><U>O</U><U>N</U><U>D</U><U>I</U><U>T</U><U>I</U><U>O</U><U>N</U><U>S</U><U> </U><U>B</U><U>E</U><U>L</U><U>O</U><U>W</U>
                        </span>
                    </div>
                    <div class="pos" id="_284:314" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
                            <U>B</U><U>E</U><U>F</U><U>O</U><U>R</U><U>E</U><U> </U><U>Y</U><U>O</U><U>U</U><U> </U><U>A</U><U>G</U><U>R</U><U>E</U><U>E</U><U> </U><U>T</U><U>O</U><U> </U><U>C</U><U>O</U><U>M</U><U>P</U><U>L</U><U>Y</U><U>.</U>
                        </span>
                    </div>
                    <div class="pos" id="_100:357" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
                            <U>T</U><U>e</U><U>c</U><U>h</U><U>n</U><U>i</U><U>c</U><U>a</U><U>l</U><U> </U><U>I</U><U>n</U><U>f</U><U>o</U><U>r</U><U>m</U><U>a</U><U>t</U><U>i</U><U>o</U><U>n</U><U>:</U>
                        </span>
                    </div>
                    <div class="pos" id="_125:400" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            1. Once an application has been started; please do "NOT" click on the  "BACK" button of the browser
                        </span> 

                       
                    </div>

                    <div class="pos" id="_125:458" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            2. Do "NOT" start "MULTIPLE" application on the same browser (That is, do
                        </span>
                    </div>
                    <div class="pos" id="_150:487" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            not start multiple applications by creating "multiple tabs" within the same
                        </span>
                    </div>
                    <div class="pos" id="_150:516" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            browser
                        </span>
                    </div>

                    <div class="pos" id="_125:603" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            3. This service is best used with Internet Explorer 6, Firefox 2 or Safari 2 or
                        </span>
                    </div>
                    <div class="pos" id="_150:631" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            later on a screen at least 1024 by 768 pixels in size. Our website requires
                        </span>
                    </div>
                    <div class="pos" id="_150:660" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            the use of cookies and JavaScript and supports the ISO 8859-1 character
                        </span>
                    </div>
                    <div class="pos" id="_150:689" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            set
                        </span>
                    </div>
                    <div class="pos" id="_100:747" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
                            <U>I</U><U>M</U><U>P</U><U>O</U><U>R</U><U>T</U><U>A</U><U>N</U><U>T</U><U> </U><U>N</U><U>O</U><U>T</U><U>I</U><U>C</U><U>E</U>
                        </span>
                    </div>
                    <div class="pos" id="_125:776" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            1. The Trademark you want to register can be represented in 3 ways (word
                        </span>
                    </div>
                    <div class="pos" id="_150:805" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            mark, word and device and device)
                        </span>
                    </div>
                    <div class="pos" id="_125:834" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            2. You are required to specify the class of goods and description when filing.
                        </span>
                    </div>
                    <div class="pos" id="_125:863" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            3. All representations of Trademarks must be uploaded in jpeg formats only
                        </span>
                    </div>
                    <div class="pos" id="_150:892" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            (excluding word marks)
                        </span>
                    </div>
                    <div class="pos" id="_125:921" style="text-align:center">
                        <span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
                            4. All supporting documents must be uploaded in PDF formats only.
                        </span>
                    </div>

                    <div class="pos" id="_125:1197" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            5. All information (Applicant Information, Trademark information, Agent
                        </span>
                    </div>
                    <div class="pos" id="_150:1226" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            information and any other) must be verified by you as accurate before you
                        </span>
                    </div>
                    <div class="pos" id="_150:1255" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            commence filing.
                        </span>
                    </div>
                    <div class="pos" id="_125:1284" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            6. All information entered and submitted cannot be retrieved, amended or
                        </span>
                    </div>
                    <div class="pos" id="_150:1313" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            corrected without the payment of an amendment fee of<span style=" color:#ff0000"> N10,</span><span style=" color:#ff0000"> 900</span> for
                        </span>
                    </div>
                    <div class="pos" id="_150:1342" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            applications with issued acceptance or refusal letters and<span style=" color:#ff0000"> N2,</span><span style=" color:#ff0000"> 900</span> for
                        </span>
                    </div>
                    <div class="pos" id="_150:1371" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            applications before acceptance or refusal is issued. Please ensure that
                        </span>
                    </div>
                    <div class="pos" id="_150:1400" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            the information filled is properly verified before final submission.
                        </span>
                    </div>
                    <div class="pos" id="_125:1429" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            7. All correspondence with regards to applications filed will be sent to the
                        </span>
                    </div>
                    <div class="pos" id="_150:1458" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            agent email as specified during accreditation.
                        </span>
                    </div>
                    <div class="pos" id="_125:1487" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            8. You will be issued an on-screen acknowledgment copy immediately after
                        </span>
                    </div>
                    <div class="pos" id="_150:1516" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            submission. If you do not receive your acknowledgment immediately
                        </span>
                    </div>
                    <div class="pos" id="_150:1545" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            kindly use the &#8216;check status&#8217; link to re -print your acknowledgment.
                        </span>
                    </div>
                    <div class="pos" id="_125:1574" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            9. This form has a session of 20 minutes; ensure you complete your form
                        </span>
                    </div>
                    <div class="pos" id="_150:1602" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            within the specified period to avoid being timed out.
                        </span>
                    </div>
                    <div class="pos" id="_125:1631" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                        </span>
                    </div>
                    <div class="pos" id="_200:1631" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            10.&nbsp;&nbsp;All complaints must be forwarded using the customer complaint
                        </span>
                    </div>
                    <div class="pos" id="_150:1660" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            forms to<span style=" color:#0000ff"><a href="mailto:customeraupport@iponigeria.com"> customeraupport@iponigeria.com</span>
                        </span>
                    </div>
                    <div class="pos" id="_125:1689" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            </a>
                        </span>
                    </div>
                    <div class="pos" id="_200:1689" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            11.&nbsp;&nbsp;All complaints will be treated within 48 hours, Mondays &#8211; Fridays.
                        </span>
                    </div>
                    <div class="pos" id="_100:1775" style="text-align:center">
                        <span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
                            THANK YOU FOR YOUR UNDERSTANDING
                        </span>
                    </div>


                    <br />
                    <div align="center">
                        <strong>
                            THANK YOU FOR YOUR UNDERSTANDING<br />
                            I AGREE TO COMPLY WITH THE INSTRUCTIONS ABOVE  <input id="chk2" type="checkbox" ng-model="chkVal2"
                                                                                  ng-false-value="false" ng-true-value="true" />
                    </div>

                    <br />

                    <div align="center" ng-show="chkVal2">


                        <button id="Button3" type="submit" ng-click="submitForm2()" class="btn-success btn-lg"> Proceed <i class="glyphicon glyphicon-ok glyphicon4"></i> </button>
                    </div>


                </div>
            </td>

        </tr>

    </table>
</div>

<div align="center"  class="col-md-6 col-md-offset-2">
    <div class="col-md-10 col-md-offset-1 " ng-show="vfile2">

        <div style="font-weight:bold;font-size:14px"> REGISTRATION OF TRADEMARK (FORM 02)</div>



    </div>
    <form name="myForm"  class="padding"  novalidate ng-show="vfile2"  ng-submit="submitForm(myForm.$valid)">
       
        <br/>
        <table align="center" class="table">
            <tr>
                <td>


                    <table class="table padding-left" id="applicantForm" align="center" width="100%" style="border:1px dashed #000; font-size:11px;margin-left: auto;
    margin-right: auto;">
                       





                        <tr>
                            <td colspan="2" align="left" class="tbbg" style="text-align:left;background-color:#3D3D3D; color:#ffffff;  font-weight:bold;">
                                &nbsp;&nbsp;PLEASE FILL IN THE APPLICANT/PROPRIETOR
                                INFORMATION DETAILS BELOW
                            </td>
                        </tr>

                        <tr>
                            <td width="30%">
                                &nbsp;&nbsp;NAME:
                            </td>
                            <td>
                                <input type="text" class="form-control" name="appname2" required placeholder="NAME" ng-model="appname">

                                <div ng-if="myForm.$submitted || myForm.appname2.$touched">
                                    <span class="help-block" data-ng-show="myForm.appname2.$error.required">This is required.</span>
                                   
                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td align="left">
                                &nbsp;&nbsp;NATIONALITY :
                            </td>
                            <td align="left">
                                <select class="form-control" data-ng-change="GetStates2(country)" data-ng-options="c.code as c.name for c in countries" name="country2" ng-model="country" required="">
                                    <option value="">-- Select Country --</option>
                                </select>

                                <div ng-if="myForm.$submitted || myForm.country2.$touched">
                                    <span class="help-block" data-ng-show="myForm.country2.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>








                        <tr>
                            <td width="22%">
                                &nbsp;ADDRESS:
                            </td>
                            <td>
                                <textarea id="address" class="form-control" name="address2" ng-model="address" required placeholder="ADDRESS" rows="7"></textarea>
                                <div ng-if="myForm.$submitted || myForm.address2.$touched">
                                    <span class="help-block" data-ng-show="myForm.address2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                &nbsp;
                                TELEPHONE: &nbsp;
                            </td>
                            <td>
                                <input type="text" class="form-control" name="xtelephone2" required placeholder="Phone" ng-model="xtelephone">

                                <div ng-if="myForm.$submitted || myForm.xtelephone2.$touched">
                                    <span class="help-block" data-ng-show="myForm.xtelephone2.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                &nbsp;
                                E-MAIL:
                            </td>
                            <td>
                                <input type="email" class="form-control" name="xemail2" required placeholder="Email" ng-model="xemail">

                                <div ng-if="myForm.$submitted || myForm.xemail2.$touched">
                                    <span class="help-block" data-ng-show="myForm.xemail2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>

                    <table align="center" width="100%" style="border:1px dashed #000;font-size:11px;">

                        <tr>
                            <td colspan="2" align="left" class="tbbg" style="text-align:left;background-color:#3D3D3D; color:#ffffff;  font-weight:bold;">
                                &nbsp;&nbsp;PLEASE FILL IN THE &quot;TRADEMARK&quot; DETAILS BELOW
                            </td>
                        </tr>
                        <tr>
                            <td width="30%">
                                &nbsp;&nbsp;TRADEMARK TYPE :
                            </td>
                            <td>

                                <select class="form-control" data-ng-options="c.id as c.name for c in varray" name="Trademark_Type2" ng-model="Trademark_Type" required="">
                                    <option value="">-- Select Trademark Type --</option>
                                </select>

                                <div ng-if="myForm.$submitted || myForm.Trademark_Type2.$touched">
                                    <span class="help-block" data-ng-show="myForm.Trademark_Type2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                &nbsp;&nbsp;LOGO DESCRIPTION :
                            </td>
                            <td align="left">

                                <select class="form-control" data-ng-change="GetStates13(Logo)" data-ng-options="c.id as c.name for c in classtrademark" name="Logo2" ng-model="Logo" required="">
                                    <option value="">-- Select LOGO DESCRIPTION --</option>
                                </select>

                                <div ng-if="myForm.$submitted || myForm.Logo2.$touched">
                                    <span class="help-block" data-ng-show="myForm.Logo2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                &nbsp;&nbsp;TRADEMARK :
                            </td>
                            <td align="left">
                                <input type="text" class="form-control" name="title_of_product2" required placeholder="Title Of Product" ng-model="title_of_product">

                                <div ng-if="myForm.$submitted || myForm.title_of_product2.$touched">
                                    <span class="help-block" data-ng-show="myForm.title_of_product2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="left">
                                &nbsp;&nbsp;GENERAL
                                GOODS/SERVICES IN THE CLASS :
                            </td>
                            <td align="left">
                                <select class="form-control" data-ng-options="c.xtype as c.xtype for c in vclass" name="vclass3" ng-model="vclass2" required="">
                                    <option value="">-- Select CLASS OF TRADEMARK --</option>
                                </select>
                                <div ng-if="myForm.$submitted || myForm.vclass3.$touched">
                                    <span class="help-block" data-ng-show="myForm.vclass3.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>



                        <tr>
                            <td align="left">
                                &nbsp;DESCRIPTION OF SPECIFICATION OF GOODS/SERVICES :
                            </td>
                            <td align="left">
                                &nbsp;
                                <textarea id="nice_class_desc" class="form-control" name="description" ng-model="nice_class_desc" required placeholder="DESCRIPTION" rows="7"></textarea>

                                <div ng-if="myForm.$submitted || myForm.description.$touched">
                                    <span class="help-block" data-ng-show="myForm.description.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>




                        <tr>
                            <td align="left"> --- DISCLAIMER ---</td>
                            <td align="left">
                                <textarea id="txt_discalimer" class="form-control" name="desclaimer2" ng-model="txt_discalimer" required placeholder="DISCLAIMER" rows="7"></textarea>

                                <div ng-if="myForm.$submitted || myForm.desclaimer2.$touched">
                                    <span class="help-block" data-ng-show="myForm.desclaimer2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>


                    </table>

                    <table align="center" width="100%" style="border:1px dashed #000;font-size:11px;">
                        <tr>
                            <td colspan="2" align="left" class="tbbg" style="text-align:left;background-color:#3D3D3D; color:#ffffff;  font-weight:bold;">
                                &nbsp;&nbsp;PLEASE FILL IN THE &quot;ADDRESS OF SERVICE&quot; DETAILS BELOW
                            </td>
                        </tr>




                        <tr>
                            <td width="30%" class="style1">
                                &nbsp;ADDRESS:
                            </td>
                            <td class="style1">

                                <textarea id="aos_xaddress" class="form-control" name="aos_xaddress2" ng-model="aos_xaddress" required placeholder="AOS ADDRESS" rows="7"></textarea>

                                <div ng-if="myForm.$submitted || myForm.aos_xaddress2.$touched">
                                    <span class="help-block" data-ng-show="myForm.aos_xaddress2.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                &nbsp;
                                TELEPHONE: &nbsp;
                            </td>
                            <td>
                                <input type="text" class="form-control" name="aos_xtelephone2" required placeholder="AOS TELEPHONE" ng-model="aos_xtelephone">

                                <div ng-if="myForm.$submitted || myForm.aos_xtelephone2.$touched">
                                    <span class="help-block" data-ng-show="myForm.aos_xtelephone2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                &nbsp;
                                E-MAIL:
                            </td>
                            <td>
                                <input type="email" class="form-control" name="aos_xemail2" required placeholder="AOS EMAIL" ng-model="aos_xemail">

                                <div ng-if="myForm.$submitted || myForm.aos_xemail2.$touched">
                                    <span class="help-block" data-ng-show="myForm.aos_xemail2.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>

                    <table align="center" width="100%" style="border:1px dashed #000;font-size:11px;">
                        <tr>
                            <td colspan="2" align="left" class="tbbg" style="text-align:left;background-color:#3D3D3D; color:#ffffff;  font-weight:bold;">
                                &nbsp;&nbsp;PLEASE FILL IN THE &quot;REPRESENTATIVE/ATTORNEY&quot; DETAILS BELOW
                            </td>
                        </tr>

                        <tr>
                            <td width="30%">
                                &nbsp;&nbsp;AGENT CODE:
                            </td>
                            <td class="style1">
                                <input type="text" class="form-control" name="xcode2" required placeholder="AGENT CODE" ng-model="xcode" disabled>

                                <div ng-if="myForm.$submitted || myForm.xcode2.$touched">
                                    <span class="help-block" data-ng-show="myForm.xcode2.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                &nbsp;&nbsp;NAME :
                            </td>
                            <td align="left" class="style1">
                                <input type="text" class="form-control" name="rep_xname2" required placeholder="AGENT NAME" disabled ng-model="xrep_xname">
                                <div ng-if="myForm.$submitted || myForm.rep_xname2.$touched">
                                    <span class="help-block" data-ng-show="myForm.rep_xname2.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>


                      




                        <tr>
                            <td width="22%">
                                &nbsp;ADDRESS:
                            </td>
                            <td class="style1">
                                <textarea id="rep_address" class="form-control" name="rep_address2" disabled ng-model="rep_address" required placeholder="AOS ADDRESS" rows="7"></textarea>

                                <div ng-if="myForm.$submitted || myForm.rep_address2.$touched">
                                    <span class="help-block" data-ng-show="myForm.rep_address2.$error.required">This is required.</span>

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                &nbsp;
                                TELEPHONE: &nbsp;
                            </td>
                            <td class="style1">
                                <input type="text" class="form-control" name="rep_xtelephone2" required disabled placeholder="Rep Telephone" ng-model="rep_xtelephone">

                                <div ng-if="myForm.$submitted || myForm.rep_xtelephone2.$touched">
                                    <span class="help-block" data-ng-show="myForm.rep_xtelephone2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                &nbsp;
                                E-MAIL:
                            </td>
                            <td class="style1">
                                <input type="email" class="form-control" name="rep_xemail2" disabled required placeholder="Rep Email" ng-model="rep_xemail">
                                <div ng-if="myForm.$submitted || myForm.rep_xemail2.$touched">
                                    <span class="help-block" data-ng-show="myForm.rep_xemail2.$error.required">This is required.</span>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" align="left" class="tbbg" style="text-align:left;background-color:#3D3D3D; color:#ffffff;  font-weight:bold;">
                                &nbsp;&nbsp;UPLOADS
                            </td>
                        </tr>




                        <tr ng-show="device2">
                            <td align="left">
                                &nbsp; ADD &nbsp;DEVICE &nbsp;IMAGE :
                            </td>
                            <td align="left">
                                <input id="logo" name="logo" class="form-control" file-upload typeoffile="logo_pic" required type="file" />



                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                &nbsp;
                                POWER OF ATTORNEY: &nbsp;
                            </td>
                            <td align="left">
                                <input id="poa" name="poa" class="form-control" file-upload typeoffile="auth_doc" required type="file" />


                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                SUPPORTING DOCUMENT 1 :
                            </td>
                            <td align="left">

                                <input id="sud" name="sud" class="form-control" file-upload typeoffile="sup_doc1" required type="file" />


                            </td>
                        </tr>

                        <tr>
                            <td align="left">
                                SUPPORTING DOCUMENT 2 :
                            </td>
                            <td align="left">

                                <input id="sud2" name="sud2" class="form-control" file-upload typeoffile="sup_doc2" required type="file" />


                            </td>
                        </tr>



                        <tr>
                            <td colspan="2" style="background-color:#999999; text-align:center;"></td>
                        </tr>



                        <tr>
                            <td align="center" colspan="2">


                                <button id="Button3" type="submit"  class="btn-success btn-lg"> Submit <i class="glyphicon glyphicon-send glyphicon4"></i> </button>


                            </td>
                        </tr>


                    </table>




                </td>
            </tr>
        </table>
    </form>

</div>